/* screen - homepage */

.homepage {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 5040px;
  overflow: hidden;
  width: 1440px;
}

.homepage .overlap-group14 {
  height: 2267px;
  margin-left: -1px;
  position: relative;
  width: 1460px;
}

.homepage .rectangle-10 {
  background-color: var(--tuatara);
  height: 1519px;
  left: 20px;
  position: absolute;
  top: 748px;
  width: 1440px;
}

.homepage .mask-group-23 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 352px;
  left: 239px;
  overflow: hidden;
  position: absolute;
  top: 1017px;
  transition: all 0.3s ease-in-out;
  width: 964px;
}

.homepage .mask-group-23:hover {
  transform: scale(1.1);
}

.homepage .overlap-group9 {
  height: 408px;
  margin-left: -23px;
  margin-top: -28px;
  position: relative;
  width: 1629px;
}

.homepage .rectangle-284 {
  background: linear-gradient(63.84deg, #d55131 -19.61%, #6c2b13 123.74%);
  height: 408px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1021px;
}

.homepage .overlap-group-2 {
  height: 26px;
  left: 238px;
  position: absolute;
  top: 263px;
  width: 163px;
}

.homepage .path-3 {
  height: 20px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 9px;
}

.homepage .path-4 {
  height: 20px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 9px;
}

.homepage .group-5 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/group-4-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 163px;
}

.homepage .travel-app {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 31px;
  font-weight: 700;
  left: 238px;
  letter-spacing: 0;
  line-height: 31px;
  position: absolute;
  top: 168px;
  white-space: nowrap;
}

.homepage .a-ux-case-study {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 27px;
  font-weight: 700;
  left: 238px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 212px;
  white-space: nowrap;
}

.homepage .mask-group-22 {
  align-items: flex-end;
  display: flex;
  height: 408px;
  left: 608px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1021px;
}

.homepage .overlap-group-container {
  height: 922px;
  margin-bottom: -421.84px;
  margin-left: -148px;
  position: relative;
  width: 724px;
}

.homepage .overlap-group1-1 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/case-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 551px;
  justify-content: flex-end;
  left: 151px;
  min-width: 422px;
  padding: 150.9px 146.7px;
  position: absolute;
  top: 0;
}

.homepage .button-container-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 32.79px;
  min-height: 59px;
  width: 2px;
}

.homepage .button-12 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-291@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 8px;
  width: 2px;
}

.homepage .rectangle {
  flex: 1;
  object-fit: cover;
  width: 2px;
}

.homepage .button-13 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-287@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 18px;
  margin-top: 11px;
  width: 2px;
}

.homepage .rectangle-2 {
  flex: 1;
  margin-bottom: 0;
  object-fit: cover;
  width: 2px;
}

.homepage .button-14 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-287@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 18px;
  margin-top: 4px;
  width: 2px;
}

.homepage .overlap-group {
  align-self: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/bezel-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 250px;
  margin-left: 1px;
  position: relative;
  width: 120px;
}

.homepage .glass {
  height: 248px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 119px;
}

.homepage .ellipse-container-3 {
  border-radius: 2px;
  height: 4px;
  left: 73px;
  position: absolute;
  top: 5px;
  width: 4px;
}

.homepage .ellipse-59 {
  background: linear-gradient(180deg, #f3f3f3 0%, #ffffff 100%);
  border-radius: 2px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.homepage .ellipse-60 {
  background: linear-gradient(180deg, #ffffff 0%, #f3f3f3 100%);
  border-radius: 1.5px;
  height: 3px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 3px;
}

.homepage .ellipse-61 {
  background-color: var(--concrete);
  border-radius: 1px;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 2px;
}

.homepage .ellipse-62 {
  background-color: var(--white);
  border-radius: 0.5px;
  height: 1px;
  left: 2px;
  position: absolute;
  top: 1px;
  width: 1px;
}

.homepage .ear-piece {
  height: 3px;
  left: 51px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 19px;
}

.homepage .screen {
  height: 240px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 111px;
}

.homepage .home {
  height: 1px;
  left: 41px;
  object-fit: cover;
  position: absolute;
  top: 240px;
  width: 38px;
}

.homepage .button-15 {
  align-self: center;
  display: flex;
  height: 29px;
  margin-bottom: 107.02px;
  margin-left: 2px;
  width: 2px;
}

.homepage .group-66 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-285@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  width: 2px;
}

.homepage .overlap-group3 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/case-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 551px;
  justify-content: flex-end;
  left: 0;
  min-width: 422px;
  padding: 150.9px 147.3px;
  position: absolute;
  top: 94px;
}

.homepage .button-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 32.6px;
  min-height: 59px;
  width: 2px;
}

.homepage .button {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-299@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 9px;
  width: 2px;
}

.homepage .rectangle-1 {
  flex: 1;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  object-fit: cover;
  width: 1.91px;
}

.homepage .button-1 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-295@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 18px;
  margin-top: 10px;
  width: 2px;
}

.homepage .button-2 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-295@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 18px;
  margin-top: 5px;
  width: 2px;
}

.homepage .ellipse-container {
  border-radius: 2.22px;
  height: 4px;
  left: 73px;
  position: absolute;
  top: 5px;
  width: 4px;
}

.homepage .ellipse {
  background: linear-gradient(180deg, #f3f3f3 0%, #ffffff 100%);
  border-radius: 2.22px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.homepage .ellipse-1 {
  background: linear-gradient(180deg, #ffffff 0%, #f3f3f3 100%);
  border-radius: 1.91px;
  height: 4px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 4px;
}

.homepage .ellipse-2 {
  background-color: var(--concrete);
  border-radius: 1.27px;
  height: 3px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 3px;
}

.homepage .ellipse-3 {
  background-color: var(--white);
  border-radius: 0.32px;
  height: 1px;
  left: 2px;
  position: absolute;
  top: 1px;
  width: 1px;
}

.homepage .button-3 {
  align-self: center;
  display: flex;
  height: 29px;
  margin-bottom: 107.49px;
  margin-left: 2px;
  width: 2px;
}

.homepage .group {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-293@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  margin-left: 0;
  width: 1.91px;
}

.homepage .overlap-group4 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/case-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 551px;
  justify-content: flex-end;
  left: 151px;
  min-width: 422px;
  padding: 150.9px 147.3px;
  position: absolute;
  top: 274px;
}

.homepage .overlap-group5 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/case-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 551px;
  justify-content: flex-end;
  left: 0;
  min-width: 422px;
  padding: 150.9px 147.3px;
  position: absolute;
  top: 371px;
}

.homepage .overlap-group6 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/case-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 551px;
  justify-content: flex-end;
  left: 301px;
  min-width: 422px;
  padding: 150.9px 147.3px;
  position: absolute;
  top: 94px;
}

.homepage .overlap-group7 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/case-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 551px;
  justify-content: flex-end;
  left: 302px;
  min-width: 422px;
  padding: 150.9px 147.3px;
  position: absolute;
  top: 365px;
}

.homepage .mask-group-25 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 352px;
  left: 239px;
  overflow: hidden;
  position: absolute;
  top: 1394px;
  transition: all 0.3s ease-in-out;
  width: 964px;
}

.homepage .mask-group-25:hover {
  transform: scale(1.1);
}

.homepage .overlap-group10 {
  height: 457px;
  margin-left: -96px;
  margin-top: -52.0px;
  position: relative;
  width: 1157px;
}

.homepage .rectangle-334 {
  background: linear-gradient(63.81deg, #04233a -19.61%, #576c7b 123.75%);
  height: 457px;
  left: 15px;
  position: absolute;
  top: 0;
  width: 1142px;
}

.homepage .up3-redesign {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 35px;
  font-weight: 700;
  left: 592px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 189px;
  white-space: nowrap;
}

.homepage .a-uiux-case-study {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  left: 592px;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 238px;
  white-space: nowrap;
}

.homepage .mask-group-24 {
  align-items: flex-end;
  display: flex;
  height: 457px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1142px;
}

.homepage .overlap-group-container-1 {
  height: 996px;
  margin-bottom: -453.37px;
  margin-left: -147px;
  position: relative;
  width: 774px;
}

.homepage .overlap-group1-2 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/case-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 581px;
  justify-content: flex-end;
  left: 168px;
  min-width: 437px;
  padding: 151.1px 146.9px;
  position: absolute;
  top: 0;
}

.homepage .button-container-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 37.79px;
  min-height: 65px;
  width: 3px;
}

.homepage .button-16 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-341@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 8px;
  width: 3px;
}

.homepage .rectangle-342 {
  flex: 1;
  margin-bottom: 0;
  margin-right: 0;
  object-fit: cover;
  width: 3px;
}

.homepage .button-17 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-337@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 20px;
  margin-top: 12px;
  width: 3px;
}

.homepage .rectangle-3 {
  flex: 1;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  object-fit: cover;
  width: 3px;
}

.homepage .button-18 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-337@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 20px;
  margin-top: 5px;
  width: 3px;
}

.homepage .overlap-group2 {
  align-self: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/bezel-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 279px;
  margin-left: 1px;
  position: relative;
  width: 135px;
}

.homepage .glass-1 {
  height: 278px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 133px;
}

.homepage .ellipse-container-4 {
  border-radius: 2.5px;
  height: 5px;
  left: 81px;
  position: absolute;
  top: 6px;
  width: 5px;
}

.homepage .ellipse-4 {
  background: linear-gradient(180deg, #f3f3f3 0%, #ffffff 100%);
  border-radius: 2.5px;
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.homepage .ellipse-5 {
  background: linear-gradient(180deg, #ffffff 0%, #f3f3f3 100%);
  border-radius: 2px;
  height: 4px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 4px;
}

.homepage .ellipse-85 {
  background-color: var(--concrete);
  border-radius: 1.5px/1px;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 3px;
}

.homepage .ellipse-86 {
  background-color: var(--white);
  border-radius: 0.5px;
  height: 1px;
  left: 3px;
  position: absolute;
  top: 1px;
  width: 1px;
}

.homepage .ear-piece-1 {
  height: 3px;
  left: 57px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 21px;
}

.homepage .screen-1 {
  height: 268px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 124px;
}

.homepage .home-1 {
  height: 2px;
  left: 46px;
  object-fit: cover;
  position: absolute;
  top: 268px;
  width: 43px;
}

.homepage .button-19 {
  align-self: center;
  display: flex;
  height: 31px;
  margin-bottom: 120.47px;
  margin-left: 2px;
  width: 2px;
}

.homepage .group-73 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-335@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  width: 2px;
}

.homepage .overlap-group3-1 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/case-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 581px;
  justify-content: flex-end;
  left: 0;
  min-width: 437px;
  padding: 151.1px 147.2px;
  position: absolute;
  top: 105px;
}

.homepage .button-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 36.44px;
  min-height: 66px;
  width: 2px;
}

.homepage .button-4 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-349@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 10px;
  width: 2px;
}

.homepage .rectangle-3-1 {
  flex: 1;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  object-fit: cover;
  width: 2.13px;
}

.homepage .button-5 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-345@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 20px;
  margin-top: 11px;
  width: 2px;
}

.homepage .button-6 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-345@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 20px;
  margin-top: 6px;
  width: 2px;
}

.homepage .overlap-group1 {
  align-self: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/bezel-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 279px;
  margin-left: 2px;
  position: relative;
  width: 135px;
}

.homepage .ellipse-container-1 {
  border-radius: 2.49px;
  height: 5px;
  left: 82px;
  position: absolute;
  top: 6px;
  width: 5px;
}

.homepage .ellipse-6 {
  background: linear-gradient(180deg, #f3f3f3 0%, #ffffff 100%);
  border-radius: 2.49px;
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.homepage .ellipse-7 {
  background: linear-gradient(180deg, #ffffff 0%, #f3f3f3 100%);
  border-radius: 2.13px;
  height: 4px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 4px;
}

.homepage .ellipse-8 {
  background-color: var(--concrete);
  border-radius: 1.42px;
  height: 3px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 3px;
}

.homepage .ellipse-9 {
  background-color: var(--white);
  border-radius: 0.36px;
  height: 1px;
  left: 2px;
  position: absolute;
  top: 1px;
  width: 1px;
}

.homepage .button-7 {
  align-self: center;
  display: flex;
  height: 32px;
  margin-bottom: 120.17px;
  margin-left: 2px;
  width: 2px;
}

.homepage .group-7 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-343@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  width: 2.13px;
}

.homepage .rectangle-3-2 {
  flex: 1;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  object-fit: cover;
  width: 2.13px;
}

.homepage .overlap-group4-1 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/case-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 581px;
  justify-content: flex-end;
  left: 168px;
  min-width: 437px;
  padding: 151.1px 147.2px;
  position: absolute;
  top: 307px;
}

.homepage .overlap-group5-1 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/case-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 581px;
  justify-content: flex-end;
  left: 0;
  min-width: 437px;
  padding: 151.1px 147.2px;
  position: absolute;
  top: 415px;
}

.homepage .overlap-group6-1 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/case-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 581px;
  justify-content: flex-end;
  left: 337px;
  min-width: 437px;
  padding: 151.1px 147.2px;
  position: absolute;
  top: 105px;
}

.homepage .group-7-1 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-343@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  width: 2.13px;
}

.homepage .rectangle-3-3 {
  flex: 1;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  object-fit: cover;
  width: 2.13px;
}

.homepage .overlap-group7-1 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/case-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 581px;
  justify-content: flex-end;
  left: 337px;
  min-width: 437px;
  padding: 151.1px 147.2px;
  position: absolute;
  top: 408px;
}

.homepage .mask-group-27 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 352px;
  left: 239px;
  overflow: hidden;
  position: absolute;
  top: 1771px;
  transition: all 0.3s ease-in-out;
  width: 964px;
}

.homepage .mask-group-27:hover {
  transform: scale(1.1);
}

.homepage .overlap-group11 {
  height: 451px;
  margin-left: -46px;
  margin-top: -49px;
  position: relative;
  width: 1801px;
}

.homepage .rectangle-384 {
  background: linear-gradient(63.85deg, #20a26a -19.61%, #136a4d 123.74%);
  height: 451px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1129px;
}

.homepage .overlap-group-3 {
  height: 29px;
  left: 264px;
  position: absolute;
  top: 290px;
  width: 180px;
}

.homepage .path-3-1 {
  height: 22px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 10px;
}

.homepage .path-4-1 {
  height: 22px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 10px;
}

.homepage .group-5-1 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/group-4-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 180px;
}

.homepage .code-cat-app {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 35px;
  font-weight: 700;
  left: 263px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 186px;
  white-space: nowrap;
}

.homepage .a-ux-case-study-1 {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  left: 263px;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 234px;
  white-space: nowrap;
}

.homepage .mask-group-26 {
  align-items: flex-end;
  display: flex;
  height: 451px;
  left: 672px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1129px;
}

.homepage .overlap-group-container-2 {
  height: 988px;
  margin-bottom: -450.22px;
  margin-left: -147px;
  position: relative;
  width: 769px;
}

.homepage .overlap-group1-3 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/case-12@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 578px;
  justify-content: flex-end;
  left: 166px;
  min-width: 435px;
  padding: 151.1px 147.2px;
  position: absolute;
  top: 0;
}

.homepage .button-container-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 35.9px;
  min-height: 66px;
  width: 2px;
}

.homepage .button-20 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-391@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 9px;
  width: 2px;
}

.homepage .button-21 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-387@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 19px;
  margin-top: 12px;
  width: 2px;
}

.homepage .rectangle-3-4 {
  flex: 1;
  margin-bottom: 0;
  margin-top: 0;
  object-fit: cover;
  width: 2px;
}

.homepage .button-22 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-389@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 20px;
  margin-top: 6px;
  width: 2px;
}

.homepage .overlap-group-1 {
  align-self: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/bezel-12@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 276px;
  margin-left: 1px;
  position: relative;
  width: 133px;
}

.homepage .glass-2 {
  height: 275px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 132px;
}

.homepage .ellipse-container-5 {
  border-radius: 2.5px;
  height: 5px;
  left: 80px;
  position: absolute;
  top: 6px;
  width: 5px;
}

.homepage .ellipse-109 {
  background-color: var(--concrete);
  border-radius: 1.5px;
  height: 3px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 3px;
}

.homepage .ellipse-110 {
  background-color: var(--white);
  border-radius: 0.5px/1px;
  height: 2px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 1px;
}

.homepage .ear-piece-2 {
  height: 3px;
  left: 56px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 21px;
}

.homepage .screen-2 {
  height: 265px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 123px;
}

.homepage .home-2 {
  height: 2px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 265px;
  width: 42px;
}

.homepage .button-23 {
  align-self: center;
  display: flex;
  height: 32px;
  margin-bottom: 118.02px;
  margin-left: 2px;
  width: 2px;
}

.homepage .group-80 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-385@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  width: 2px;
}

.homepage .overlap-group3-2 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/case-12@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 578px;
  justify-content: flex-end;
  left: 0;
  min-width: 435px;
  padding: 151.1px 147.2px;
  position: absolute;
  top: 104px;
}

.homepage .button-container-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 36.02px;
  min-height: 65px;
  width: 2px;
}

.homepage .button-8 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-399@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 10px;
  width: 2px;
}

.homepage .rectangle-4 {
  flex: 1;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  object-fit: cover;
  width: 2.11px;
}

.homepage .button-9 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-395@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 20px;
  margin-top: 11px;
  width: 2px;
}

.homepage .button-10 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-395@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 20px;
  margin-top: 6px;
  width: 2px;
}

.homepage .ellipse-container-2 {
  border-radius: 2.46px;
  height: 5px;
  left: 81px;
  position: absolute;
  top: 6px;
  width: 5px;
}

.homepage .ellipse-1-1 {
  background: linear-gradient(180deg, #f3f3f3 0%, #ffffff 100%);
  border-radius: 2.46px;
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.homepage .ellipse-1-2 {
  background: linear-gradient(180deg, #ffffff 0%, #f3f3f3 100%);
  border-radius: 2.11px;
  height: 4px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 4px;
}

.homepage .ellipse-1-3 {
  background-color: var(--concrete);
  border-radius: 1.4px;
  height: 3px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 3px;
}

.homepage .ellipse-1-4 {
  background-color: var(--white);
  border-radius: 0.35px;
  height: 1px;
  left: 2px;
  position: absolute;
  top: 1px;
  width: 1px;
}

.homepage .button-11 {
  align-self: center;
  display: flex;
  height: 32px;
  margin-bottom: 118.78px;
  margin-left: 2px;
  width: 2px;
}

.homepage .group-8 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/rectangle-393@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  width: 2.11px;
}

.homepage .overlap-group4-2 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/case-12@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 578px;
  justify-content: flex-end;
  left: 166px;
  min-width: 435px;
  padding: 151.1px 147.2px;
  position: absolute;
  top: 303px;
}

.homepage .overlap-group5-2 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/case-12@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 578px;
  justify-content: flex-end;
  left: 0;
  min-width: 435px;
  padding: 151.1px 147.2px;
  position: absolute;
  top: 410px;
}

.homepage .overlap-group6-2 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/case-12@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 578px;
  justify-content: flex-end;
  left: 333px;
  min-width: 435px;
  padding: 151.1px 147.2px;
  position: absolute;
  top: 104px;
}

.homepage .overlap-group7-2 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/624248816f0d173199f0cb06/img/case-12@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 578px;
  justify-content: flex-end;
  left: 333px;
  min-width: 435px;
  padding: 151.1px 147.2px;
  position: absolute;
  top: 403px;
}

.homepage .group-212x {
  height: 751px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1441px;
}

.homepage .hey-there {
  color: var(--tuatara);
  font-family: var(--font-family-poppins);
  font-size: 49px;
  font-weight: 400;
  left: 190px;
  letter-spacing: 0;
  line-height: 49px;
  opacity: 0;
  position: absolute;
  top: 166px;
  transform: translate(-125px, 0);
  white-space: nowrap;
}

.homepage .span0-1 {
  font-weight: 700;
}

.homepage .hey-there.animate-enter {
  animation: animate-enter-frames 0.50s ease-in-out 0.50s 1 normal forwards;
  opacity: 0;
  transform: translate(-125px, 0);
}

@keyframes animate-enter-frames {
  from{opacity: 0;
transform: translate(-125px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.homepage .im-husam-abushullai {
  color: var(--tuatara);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l2);
  font-weight: 400;
  left: 190px;
  letter-spacing: 0;
  line-height: 21px;
  opacity: 0;
  position: absolute;
  top: 258px;
  transform: translate(-125px, 0);
  white-space: nowrap;
}

.homepage .span1 {
  font-weight: 500;
}

.homepage .im-husam-abushullai.animate-enter1 {
  animation: animate-enter1-frames 0.50s ease-in-out 0.50s 1 normal forwards;
  opacity: 0;
  transform: translate(-125px, 0);
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
transform: translate(-125px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.homepage .i-turn-ideas-big-or {
  color: var(--tuatara);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m2);
  font-weight: 500;
  left: 190px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0;
  position: absolute;
  top: 355px;
  transform: translate(-125px, 0);
  white-space: nowrap;
}

.homepage .i-turn-ideas-big-or.animate-enter2 {
  animation: animate-enter2-frames 0.50s ease-in-out 0.50s 1 normal forwards;
  opacity: 0;
  transform: translate(-125px, 0);
}

@keyframes animate-enter2-frames {
  from{opacity: 0;
transform: translate(-125px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.homepage .text_label {
  color: var(--tuatara);
  font-family: var(--font-family-poppins);
  font-size: 24px;
  font-weight: 400;
  left: 190px;
  letter-spacing: 0;
  line-height: 24px;
  opacity: 0;
  position: absolute;
  top: 380px;
  transform: translate(-25px, 0);
  white-space: nowrap;
}

.homepage .text_label.animate-enter3 {
  animation: animate-enter3-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(-25px, 0);
}

@keyframes animate-enter3-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.homepage .lets-work-together {
  color: var(--ocean-green);
  font-family: var(--font-family-poppins);
  font-size: 19px;
  font-weight: 600;
  left: 190px;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0;
  position: absolute;
  top: 437px;
  transform: translate(-125px, 0);
  white-space: nowrap;
}

.homepage .span0 {
  color: var(--tuatara);
}

.homepage .lets-work-together.animate-enter4 {
  animation: animate-enter4-frames 0.50s ease-in-out 0.50s 1 normal forwards;
  opacity: 0;
  transform: translate(-125px, 0);
}

@keyframes animate-enter4-frames {
  from{opacity: 0;
transform: translate(-125px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.homepage .group-46 {
  background-color: var(--white);
  border: 2px solid var(--tuatara);
  border-radius: 5px;
  height: 46px;
  left: 190px;
  opacity: 0;
  position: absolute;
  top: 485px;
  transform: translate(-125px, 0);
  width: 102px;
}

.homepage .group-46.animate-enter5 {
  animation: animate-enter5-frames 0.50s ease-in-out 0.50s 1 normal forwards;
  opacity: 0;
  transform: translate(-125px, 0);
}

@keyframes animate-enter5-frames {
  from{opacity: 0;
transform: translate(-125px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.homepage .see-work {
  color: var(--tuatara);
  font-family: var(--font-family-poppins);
  font-size: 15px;
  font-weight: 500;
  left: 13px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.homepage .component-3-1 {
  height: 46px;
  left: 300px;
  opacity: 0;
  position: absolute;
  top: 485px;
  transform: translate(-125px, 0);
  width: 146px;
}

.homepage .component-3-1.animate-enter6 {
  animation: animate-enter6-frames 0.50s ease-in-out 0.50s 1 normal forwards;
  opacity: 0;
  transform: translate(-125px, 0);
}

@keyframes animate-enter6-frames {
  from{opacity: 0;
transform: translate(-125px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.homepage .overlap-group12 {
  border-radius: 5px;
  height: 46px;
  position: relative;
}

.homepage .rectangle-6 {
  background-color: var(--tuatara);
  border-radius: 5px;
  height: 46px;
  left: 0;
  position: absolute;
  top: 0;
  width: 146px;
}

.homepage .connect-with-me {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 15px;
  font-weight: 500;
  left: 8px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.homepage .place {
  left: 944px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 33px;
  width: 51px;
}

.homepage .about {
  left: 1040px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 33px;
  width: 50px;
}

.homepage .place-1 {
  left: 1128px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 33px;
  width: 71px;
}

.homepage .overlap-group13 {
  height: 37px;
  left: 190px;
  position: absolute;
  top: 24px;
  width: 230px;
}

.homepage .path-3-2 {
  height: 29px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 12px;
}

.homepage .path-4-2 {
  height: 29px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 12px;
}

.homepage .group-5-2 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/623b3de033a3e732afa03d18/img/group-4@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 230px;
}

.homepage .now-the-good-stuff {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 584px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 804px;
  white-space: nowrap;
}

.homepage .title {
  color: var(--ocean-green);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxxl);
  font-weight: 600;
  left: 575px;
  letter-spacing: 0;
  line-height: 67px;
  position: absolute;
  top: 859px;
  white-space: nowrap;
}

.homepage .span0-2 {
  color: var(--white);
}

.homepage .group-29 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/623ba4c96c434066ba7bdddd/img/group-28@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 424px;
  left: 752px;
  position: absolute;
  top: 134px;
  width: 611px;
}

.homepage .overlap-group15 {
  height: 2779px;
  position: relative;
  width: 1440px;
}

.homepage .repeat-grid-12x {
  height: 2582px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1440px;
}

.homepage .how-i-do-what-i-do {
  left: 582px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 102px;
  white-space: nowrap;
}

.homepage .my-process {
  color: var(--dodger-blue);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxxl);
  font-weight: 600;
  left: 529px;
  letter-spacing: 0;
  line-height: 67px;
  position: absolute;
  top: 148px;
  white-space: nowrap;
}

.homepage .component-2-1 {
  align-items: flex-end;
  background-color: var(--tuatara);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 311px;
  justify-content: flex-end;
  left: 238px;
  min-width: 964px;
  padding: 66px 129px;
  position: absolute;
  top: 271px;
  transition: all 0.2s ease-in-out;
}

.homepage .component-2-1:hover {
  transform: scale(1.1);
}

.homepage .group-15 {
  display: flex;
  flex-direction: column;
  height: 178px;
  width: 703px;
}

.homepage .x01-discovery {
  color: var(--dodger-blue);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  height: 41px;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 5.5px;
  white-space: nowrap;
  width: 193px;
}

.homepage .every-project-begins {
  flex: 1;
  letter-spacing: 0;
  line-height: 17px;
  margin-bottom: -2px;
  margin-right: -2px;
  margin-top: 13.5px;
}

.homepage .group-89 {
  background-color: var(--tuatara);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 311px;
  left: 238px;
  position: absolute;
  top: 612px;
  transition: all 0.3s ease-in-out;
  width: 964px;
}

.homepage .group-89:hover {
  transform: scale(1.1);
}

.homepage .group-16 {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 125px;
  justify-content: space-between;
  margin-left: 132px;
  margin-right: 131px;
  margin-top: 93px;
}

.homepage .x02-action {
  color: var(--orange-soda);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  height: 41px;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 5.5px;
  white-space: nowrap;
  width: 151px;
}

.homepage .then-we-work-on-dete {
  flex: 1;
  height: 67px;
  letter-spacing: 0;
  line-height: 17px;
  margin-bottom: -2px;
  margin-right: -2px;
  max-height: 67px;
}

.homepage .group-88 {
  background-color: var(--tuatara);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 311px;
  left: 238px;
  position: absolute;
  top: 953px;
  transition: all 0.3s ease-in-out;
  width: 964px;
}

.homepage .group-88:hover {
  transform: scale(1.1);
}

.homepage .group-19 {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 153px;
  justify-content: space-between;
  margin-left: 132px;
  margin-right: 131px;
  margin-top: 79px;
}

.homepage .x03-design {
  color: var(--ocean-green);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  height: 41px;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 5.5px;
  white-space: nowrap;
  width: 158px;
}

.homepage .we-then-are-ready-to {
  flex: 1;
  height: 97px;
  letter-spacing: 0;
  line-height: 17px;
  margin-bottom: -2px;
  margin-right: -2px;
  max-height: 97px;
}

.homepage .group-87 {
  background-color: var(--tuatara);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 311px;
  left: 238px;
  position: absolute;
  top: 1294px;
  transition: all 0.3s ease-in-out;
  width: 964px;
}

.homepage .group-87:hover {
  transform: scale(1.1);
}

.homepage .group-12 {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 139px;
  justify-content: space-between;
  margin-left: 132px;
  margin-right: 131px;
  margin-top: 86px;
}

.homepage .x04-construct {
  color: var(--lavender);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  height: 41px;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 5.5px;
  white-space: nowrap;
  width: 203px;
}

.homepage .once-the-design-is-s {
  flex: 1;
  height: 81px;
  letter-spacing: 0;
  line-height: 17px;
  margin-bottom: -2px;
  margin-right: -2px;
  max-height: 81px;
}

.homepage .group-86 {
  align-items: flex-end;
  background-color: var(--tuatara);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 311px;
  justify-content: flex-end;
  left: 238px;
  min-width: 964px;
  padding: 77px 129px;
  position: absolute;
  top: 1635px;
  transition: all 0.3s ease-in-out;
}

.homepage .group-86:hover {
  transform: scale(1.1);
}

.homepage .group-11 {
  display: flex;
  flex-direction: column;
  height: 156px;
  justify-content: space-between;
  width: 703px;
}

.homepage .x05-learn {
  height: 41px;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 5.5px;
  white-space: nowrap;
  width: 140px;
}

.homepage .products-and-design {
  flex: 1;
  height: 98px;
  letter-spacing: 0;
  line-height: 17px;
  margin-bottom: -2px;
  margin-right: -2px;
  max-height: 98px;
}

.homepage .rectangle-36 {
  background-color: var(--tuatara);
  height: 414px;
  left: 34px;
  position: absolute;
  top: 2053px;
  width: 1364px;
}

.homepage .connect-with-me-1 {
  left: 508px;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  top: 2116px;
  white-space: nowrap;
}

.homepage .ready-to-bring-your {
  left: 334px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 2228px;
  white-space: nowrap;
}

.homepage .rectangle-37 {
  border-radius: 5px;
  height: 46px;
  left: 647px;
  position: absolute;
  top: 2364px;
  width: 147px;
}

.homepage .connect-with-me-2 {
  left: 665px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 2381px;
  white-space: nowrap;
}

.homepage .group-48 {
  align-items: flex-start;
  background-color: var(--tuatara);
  display: flex;
  height: 198px;
  left: 0;
  min-width: 1440px;
  padding: 52px 203px;
  position: absolute;
  top: 2581px;
}

.homepage .group-31 {
  align-items: center;
  display: flex;
  min-width: 1033px;
}

.homepage .group-3 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-top: 0;
  min-width: 174px;
}

.homepage .overlap-group-4 {
  height: 82px;
  margin-top: 0;
  position: relative;
  width: 174px;
}

.homepage .path-1 {
  height: 37px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 16px;
}

.homepage .path-2 {
  height: 37px;
  left: 84px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 16px;
}

.homepage .group-2 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/623b3dc38b1662e2ac0480d3/releases/623ba4c96c434066ba7bdddd/img/group-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 82px;
  left: 0;
  position: absolute;
  top: 0;
  width: 174px;
}

.homepage .instagram {
  height: 30px;
  margin-bottom: 0.2px;
  margin-left: 180px;
  object-fit: cover;
  width: 30px;
}

.homepage .linkedin-rect {
  height: 30px;
  margin-bottom: 0.33px;
  margin-left: 16px;
  object-fit: cover;
  width: 30px;
}

.homepage .behance {
  height: 24px;
  margin-bottom: 0.44px;
  margin-left: 16px;
  object-fit: cover;
  width: 36px;
}

.homepage .group-30 {
  align-items: flex-end;
  display: flex;
  height: 20px;
  margin-bottom: 0.2px;
  margin-left: 202px;
  min-width: 351px;
}

.homepage .work {
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  min-height: 22px;
  width: 51px;
}

.homepage .ellipse-1-5 {
  align-self: center;
  background-color: var(--white);
  border-radius: 5px;
  height: 10px;
  margin-left: 14px;
  width: 10px;
}

.homepage .process {
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-left: 3px;
  min-height: 22px;
  text-align: center;
  width: 84px;
}

.homepage .ellipse-2-1 {
  align-self: center;
  background-color: var(--white);
  border-radius: 5px;
  height: 10px;
  margin-left: 1px;
  width: 10px;
}

.homepage .about-1 {
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-left: 17px;
  min-height: 22px;
  width: 50px;
}

.homepage .ellipse-3-1 {
  align-self: center;
  background-color: var(--white);
  border-radius: 5px;
  height: 10px;
  margin-left: 21px;
  width: 10px;
}

.homepage .place-2 {
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: -2px;
  margin-left: 9px;
  min-height: 22px;
  width: 71px;
}
